body {
    background-color: #dededc;
    font-size: 12px;
    }
.top {
    margin: 10px 0;
    }
.panel-body {
    padding: 0;
    }

.login-form {
    margin-top: 100px;
    width: 300px;
    }
    .login-form button {
        width: 300px;
        }


/* footer */
.footer {
    text-align: center;
}
.footer a {
    background: url('../images/logo.png') 40px 0 no-repeat;
    display: inline-block;
    font-size: 16px;
    height: 120px;
    line-height: 240px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 200px;
}