body {
    background-color: #dededc;
    font-size: 14px;
    }
.top {
    margin: 10px 0;
    }
.panel-body {
    padding: 0;
    }

.login-form {
    margin-top: 100px;
    width: 300px;
    }
    .login-form button {
        width: 300px;
        }